<a href="https://colab.research.google.com/github/sandramanoj/Business-Analytics-with-Python/blob/main/Untitled11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
x="This is \"Python\" programming"
print(x)

This is "Python" programming

In [4]:
print("\"sandra\"manoj palathra")

"sandra"manoj palathra

In [5]:
print("he is a\"big boy\"")

he is a"big boy"

In [6]:
print("sandra\n manoj palathra")

sandra
 manoj palathra

In [12]:
x=["sandra","manoj","palathra"]
x.insert(2,"jano")
print(x)

['sandra', 'manoj', 'jano', 'palathra']

In [16]:
x=["sandra","manoj","palathra"]
y=input("Enter a name")
n=int(input("enter an index"))
x.insert(n,y)
print(x)

Enter a namejano
enter an index2
['sandra', 'manoj', 'jano', 'palathra']

In [17]:
def jano():
  y=int(input("Enter Index:"))
  n=input("Enter a Name:")
  x.insert(y,n)

In [18]:
jano()

Enter Index:2
Enter a Name:sandra

In [21]:
def sandra():
  a=int(input("enter number: "))
  b=int(input("enter a number: "))
  print(a+b)
  print(a-b)
  print(a/b)
  print(a*b)

In [22]:
sandra

enter number: 50
enter a number: 10
60
40
5.0
500

In [27]:
def add(a,b):
  print(a+b)
def sub(a,b):
  print(a-b)
def divid(a,b):
  print(a/b)
def multi(a,b):
  print(a*b)

In [26]:
x=int(input("enter first value"))
y=int(input("enter second value"))
maths(x,y)

enter first value20
enter second value10
30
10
2.0
200